:root {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  /** CSS PRIMARY COLORS */
  --color-primary-100: #ff7954;
  --color-primary-200: #ff8966;
  --color-primary-300: #ff9878;
  --color-primary-400: #ffa88b;
  --color-primary-500: #ffb69d;
  --color-primary-600: #ffc5b0;
  /** CSS LIGHT THEME TEXT COLORS */
  --light-text-100: #101014;
  --light-text-200: #262629;
  --light-text-400: #565658;
  --light-text-300: #3d3d40;
  --light-text-500: #707072;
  --light-text-600: #8a8a8c;
  /** CSS LIGHT THEME SURFACE COLORS */
  --light-surface-100: #d5d6db;
  --light-surface-200: #dadadf;
  --light-surface-300: #dedfe3;
  --light-surface-400: #e3e4e7;
  --light-surface-500: #e7e8eb;
  --light-surface-600: #ecedef;
  /** CSS LIGHT THEME MIXED SURFACE COLORS */
  --light-surface-mixed-100: #dccdcd;
  --light-surface-mixed-200: #e0d2d2;
  --light-surface-mixed-300: #e4d8d8;
  --light-surface-mixed-400: #e8dddd;
  --light-surface-mixed-500: #ece3e3;
  --light-surface-mixed-600: #efe9e9;
  /** CSS DARK THEME TEXT COLORS */
  --dark-text-100: #d5d6db;
  --dark-text-200: #dadadf;
  --dark-text-300: #dedfe3;
  --dark-text-400: #e3e4e7;
  --dark-text-500: #e7e8eb;
  --dark-text-600: #ecedef;
  /** CSS DARK THEME SURFACE COLORS */
  --dark-surface-100: #060714;
  --dark-surface-200: #202129;
  --dark-surface-300: #383840;
  --dark-surface-400: #515158;
  --dark-surface-500: #6b6c72;
  --dark-surface-600: #87878c;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --dark-surface-mixed-100: #211419;
  --dark-surface-mixed-200: #36292e;
  --dark-surface-mixed-300: #4c4044;
  --dark-surface-mixed-400: #63585c;
  --dark-surface-mixed-500: #7b7275;
  --dark-surface-mixed-600: #948c8f;
  /** EXAMPLES */
  color: var(--light-text-300);
  background-color: var(--light-surface-300);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-text-600);
    background-color: var(--dark-surface-200);
  }
}
