name: TEST Call Cache and Run on Push
on: workflow_dispatch

jobs: 
  initialize-project:
    uses: a-shevlin/todoist/.github/workflows/setup-and-install-node.yml@main
    
#    defaults:
#      run:
#        working-directory: frontend
  pull-cache-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Check files in github actions
        run: |
          ls ${{ github.workspace }}
        
      - name: Restore cached package
        id: cached-node-restore
        uses: actions/cache/restore@v3
        with: 
          path: |
            /home/runner/.npm
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
        
      - name: Build Dist
        run: npm run build
        
      - name: create dev instance
        run: npm run dev
    
    #TODO: implement remaining firebase 
