name: Node Setup
run-name: Install React Dependencies (nodejs package-lock.json) with caching.

on: 
  workflow_dispatch:
    inputs:
      namable-input:
        description: 'descriptor for what is passed down from calling workfrlow'
        default: './frontend'
        type: string
          
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          node-version: 18.x
          
      - name: Get Node Version
        id: node-version
        run: echo "version=$(node -v)" >> ${GITHUB_OUTPUT}
        
      - name: Get Node cache directory
        id: node-cache-dir-path
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Cache Node Package
        id: node-cache
        uses: actions/cache@v3
        with: 
          path: ${{ steps.node-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}-${{ steps.node-version.output.version }}
          
      - name: Install dependencies if necessary
        if: steps.node-cache.output.cache-hit != 'true'
        run: npm ci

#      - name: Create .env File
#        run: |
#          touch .env
#          echo VITE_APP_MAPBOX_TOKEN=${{ secrets.VITE_APP_MAPBOX_TOKEN }} >> .env
      
